.sling-table-container
	include sling-pager
	include sling-search
	table.table(ng-class="tableClass")
		thead
			tr
				th(ng-repeat="column in tableConfig.order", ng-click='switchColumn(column)',ng-class="getSortedClass(column)", class="{{tableConfig.display[column].className}} sling-interactable"){{tableConfig.display[column].label}}
					span(ng-show="sort.column == column")
						.glyphicon.glyphicon-chevron-up(ng-hide="sort.descending")
						.glyphicon.glyphicon-chevron-down(ng-show="sort.descending")
		tbody
			tr(ng-repeat="data in pagedData")
				td(ng-repeat="column in tableConfig.order", ng-class="getSortedClass(column)", ng-bind-html="data[column]")